<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Think Compass</title>
<!--[if IE]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>

<![endif]-->
<style>
  article, aside, dialog, figure, footer, header,
  hgroup, menu, nav, section { display: block; }
</style>
</head>
<body>
  <h1>Think Compass</h1>
    <!-- <%=question_mode.to_s%> -->
    <p>何に迷っているか確かめよう！</p>
    <p>
      <form action="/" method="get">
        <input type="submit" value="はじめから">
      </form>
    </p>
    <% case question_mode 
       when :less, :more %>
      <!-- <%=present_answer%> -->
      <%
        case question_mode
          when :less; question_str = "どれが一番不足してますか？"; action_target = "more"
          when :more; question_str = "どれが一番足りてますか？"; action_target = "result"
        end
        radios = []
        @menu_sym_name_pair.each do |sym, name|
          radios << "<input type=\"radio\" name=\"#{question_mode.to_s}\" value=\"#{sym}\">#{name}"
        end
        radios[0][radios[0].index(">") - 1] += "checked=\"checked\""
      %>
      <h2><%=question_str%></h2>
        <form action="<%=action_target%>" method="get">
          <p>
            <% radios.each do |r| %>
              <%= r %>
            <% end%>
          </p>
          <input type="submit" value="回答">
        </form>
    <% when :result %>
      <% action_target = "less"%>
      <h2>結果</h2>
        <h3><%= built_result %></h3>
        <% if core.question != nil %>
          <form action="<%=action_target%>" method="get">
            <input type="submit" value="継続">
          </form>
        <% end %>
    <% end %>
</body>
</html>
